.main-blogp{


    .sec-blog{
      
        
        .th-blog{


            .blog-imgn{

                img{
                    width: 100%;
                    height: 25rem;
                }
            }
            .pagel{
                border: 1px solid #ebebeb;
                height: 2rem;
                width: auto;
                margin-right: 2rem;
                margin-left: 4rem;
                font-size: 15px;
                padding-top: 0.6rem;
                padding-left: 1rem;
                margin-top: 2rem;
    
                .hm{
                    text-decoration: none;
                    color: #999;
                    padding-right: 1rem;
    
                    &:hover{
                        color: #eab129;
                        cursor: pointer;
                    }
                }
                
                .mh{
                    text-decoration: none;
                    color: #eab129;
                    padding-left: 1rem;
    
                    &:hover{
                        color: #eab129;
                        cursor: pointer;
                    }
                }
            }

            .blog-shoow{
                display: flex;
            }
        }
    }
}