.container{
   height: 10rem;
   padding: 20px 10px;
   margin-top: 1rem;
   display: flex;
   background-image: linear-gradient(to right, #f8d073, #eab129);
   

   .box{
       width: 25%;
       margin-left: 5rem;  
       
       .rocket{
           max-width: fit-content;
           border: 1px solid #fff;
           padding: 1.5rem;
           border-radius: 50%;
           font-size: 10px;
           line-height: 6.5rem;
           margin-left: 3rem;
           padding-top: 3rem;
           background-color: #fff;

           &:hover{
            background-color: #eab129;
        }
 
       }

       .truck{
            max-width: fit-content;
            border: 1px solid #fff;
            padding: 1.5rem;
            border-radius: 50%;
            font-size: 10px;
            line-height: 6.5rem;
            margin-left: 3rem;
            padding-top: 3rem;
            background-color: #fff;

            &:hover{
                background-color: #eab129;
            }
       }

       .gift{
            max-width: fit-content;
            border: 1px solid #fff;
            padding: 1.5rem;
            border-radius: 50%;
            font-size: 10px;
            line-height: 6.5rem;
            margin-left: 3rem;
            padding-top: 3rem;
            background-color: #fff;

            &:hover{
                background-color: #eab129;
            }
       }

       .music{
            max-width: fit-content;
            border: 1px solid #fff;
            padding: 1.5rem;
            border-radius: 50%;
            font-size: 10px;
            line-height: 6.5rem;
            margin-left: 3rem;
            padding-top: 3rem;
            background-color: #fff;

            &:hover{
                background-color: #eab129;
            }
       }
       .content{
        font-size: 13px;
        margin-left: 1rem;
        
       

           .text{
               font-size: 15px;
               margin-left: 1rem;
               text-decoration: none;
               color: black;
                
        }
           } 
       }
   }


   