.Nave-main{
    justify-content: space-between;
    display: flex;
    background: #eab129;
    height: 5rem;

    .Navebar{
        display: flex;
        justify-content: space-between;
        justify-content: left;
    
        .options{
            color: #130707;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-right: orem;
            margin-left: 5rem;
            cursor: pointer;
          
            .option{
                padding:1rem 1rem;
            }
        }
    }

    .logo-container{
        height: 30%;
        width: 30px;
        padding: 20px;

    }
}