.women-product{


    .women-pro{
        border: 1px solid #ebebeb;
        height: 3rem;
        width: 88rem;
        margin-left: 2.7rem;
        margin-top: -12.5rem;
        display: flex;

        .women-th{
            background-color: #fff;
            display: flex;

            .women-fath{
                padding-top: 0.8rem;
                font-size: 25px;
                padding-left: 1rem;
                color: black;

                &:hover{
                    color: #eab129;
                    cursor: pointer;
                 }
            }

            .women-aifi{
                padding-top: 0.5rem;
                font-size: 33px;
                padding-left: 1rem;
                    
                &:hover{
                    color: #eab129;
                    cursor: pointer;
                }
            }
        }

        .women-j{
            padding-top: 1rem;

            .women-cen{
                font-size: 15px;
                color: #666;
                margin-left: 35rem;
            }
        }
        .wbox-sort{
            display: flex;
            padding-top: 1rem;
            margin-left: 25rem;

            .sortt{
                font-size: 15px;
                color: #666;
            }
        }
    }
    .fg{
        margin-left: 2.2rem;
    }
}