.men-accordian{  
      padding-left: 2rem;

    .menjklll-bov{
        text-decoration: none;
        color: #999;  

        .women-acc{
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
            font-size: 15px;
            
            .toppp{
                color: #999;
                text-decoration: none;
                margin-top: 0.5rem;
                margin-left: 1rem;

                &:hover{
                    color: #eab129;
                    cursor: pointer;
                }
            }
        }
        &:hover{
            color: #eab129;
            cursor: pointer;
        }
        .jkn{
            color: #999;
            margin-left: 11rem;
            margin-top: -1rem;

            &:hover{
                color: #eab129;
                cursor: pointer;
            }
        }
    }
}