.main-head{
    width: 100vw;
    display: flex;
    height: 6rem;

   .search{
       flex: 1 1 auto;
       margin: auto;
       padding-left: 1rem;
       align-items: center;
       max-width: fit-content;
       text-align: center;
       justify-content: center;
       display: flex;
       border: 1px solid black;
       border-radius: 2rem;
       height: 30px;
       width: 15px;
       border-color: #ebebeb;
       margin-left: 5rem;
       
       input{
        border-radius: 2rem;
        font-size: 18px;
        padding: 5px;
        height: 30px;
        width: 270px;
        border: none
       }

       .search-icon{
        background-color: white;
        cursor: pointer;
        position: absolute;
        left: 18%;
       }


       input:focus {
        outline: none;
      }

      .searchIcon svg {
        font-size: 35px;
      }
   }

   .logo{
       flex: 1 1 auto;
       align-items: center;
       height: auto;
       margin-left: 25rem;
       

       img {
        background-size: cover;
    }
       
   }

   .icons{
       flex: 1 1 auto;
       height: auto;
       text-align: center;
   }
}

  