.main-blog{
    width: 25rem;
    height: 25rem;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ebebeb;
    margin: 0 7.5px 15px;
    margin-top: 2rem;
    margin-left: 9rem;
      
    .back-img{
            width: 25rem;
            height: 25rem;
            background-size: cover;
    }

    .blog-title{
            height: auto;
            align-items: center;
            justify-content: center;
            position: absolute;
            text-align: end;
            
    }
}