.social-media{
    font-size: 2rem;
    align-items: center;
    display: flex;
    flex-direction: flex-end;
    text-align: center;
    padding-right: 5rem;
    justify-content: space-between;
    cursor: pointer;


    .facebook{
        margin-right: 1rem;
    }

    .twitter{
        margin-right: 0.7rem;
    }

    .youtube{
        margin-top: 0.5rem;
        margin-right: 1rem;
    }

    .link-in{
        margin-right: 1rem;
    }
    .google{
        margin-top: 0.5rem;
        margin-right: 3rem;
    }
}