.menbov{
    border: 1px solid #ebebeb;
    height: auto;
    width: 15rem;
    margin-top: 2rem;
    margin-left: 4rem;

    .menbov-title{
        display: flex;
        flex-direction: column;

        .home-bov{
            text-decoration: none;
            color: black;
            border: 1px solid #ebebeb;
            padding-left: 2rem;
            height: 2rem;
            padding-top: 1rem;

            &:hover{
                color: #eab129;
                cursor: pointer;
            }

        }

        .women-bov{
            text-decoration: none;
            color: #999;
            border: 1px solid #ebebeb;
            padding-left: 2rem;
            height: auto;
            padding-top: 1rem;


            .women-acc{
                display: flex;
                flex-direction: column;
                margin-left: 0.5rem;
                font-size: 15px;
                

                .toppp{
                    color: #999;
                    text-decoration: none;
                    margin-top: 0.5rem;
                    
                }
            }

            &:hover{
                color: #eab129;
                cursor: pointer;
            }
            .jkl{
                color: #999;
                margin-left: 11rem;
                margin-top: -1rem;

                &:hover{
                    color: #eab129;
                    cursor: pointer;
                }
            }
        }

        .mens-bov{
            text-decoration: none;
            color: #999;
            border: 1px solid #ebebeb;
            padding-left: 2rem;
            height: auto;
            padding-top: 1rem;

            .women-acc{
                display: flex;
                flex-direction: column;
                margin-left: 0.5rem;
                font-size: 15px;
                

                .toppp{
                    color: #999;
                    text-decoration: none;
                    margin-top: 0.5rem;
                    
                }
            }

            &:hover{
                color: #eab129;
                cursor: pointer;
            }
            .jkn{
                color: #999;
                margin-left: 11rem;
                margin-top: -1rem;

                &:hover{
                    color: #eab129;
                    cursor: pointer;
                }
            }
        }

        .fashion-bov{
            text-decoration: none;
            color: #999;
            border: 1px solid #ebebeb;
            padding-left: 2rem;
            height: auto;
            padding-top: 1rem;

            .women-acc{
                display: flex;
                flex-direction: column;
                margin-left: 0.5rem;
                font-size: 15px;
                
                .toppp{
                    color: #999;
                    text-decoration: none;
                    margin-top: 0.5rem;   
                }
            }

            &:hover{
                color: #eab129;
                cursor: pointer;
            }
            .jkn{
                color: #999;
                margin-left: 11rem;
                margin-top: -1rem;

                &:hover{
                    color: #eab129;
                    cursor: pointer;
                }
            }
        }
    }
}