.menbov{
    border: 1px solid #ebebeb;
    height: auto;
    width: 15rem;
    margin-top: 2rem;
    margin-left: 4rem;

    .menbov-title{
        display: flex;
        flex-direction: column;

        .home-bov{
            text-decoration: none;
            color: black;
            border: 1px solid #ebebeb;
            padding-left: 2rem;
            height: 2rem;
            padding-top: 1rem;

            &:hover{
                color: #eab129;
                cursor: pointer;
            }

        }

        .women-bov{
            text-decoration: none;
            color: #999;  
            padding-left: 2rem;
            height: auto;
            padding-top: 1.5rem;
            transition: all 0.15s ease-in-out 0s;


            .women-acc{
                display: flex;
                flex-direction: column;
                margin-left: 0.5rem;
                font-size: 15px;
                transition: all 0.15s ease-in-out 0s;
                
                .toppp{
                    color: #999;
                    text-decoration: none; 
                    margin-top: 0.9rem;

                    .jghh{
                        margin-left: 9.5rem;
                        margin-top: -1rem;
                    }
                  .topcomp{
                      margin-top: 0.5rem;
                      margin-left: 1.5rem;

                      .uppp{
                          text-decoration: none;
                          color: #999; 
                          margin-top: 0.9rem;

                          &:hover{
                            color: #eab129;
                            cursor: pointer;
                        }
                      }
                  }
                  &:hover{
                    color: #eab129;
                    cursor: pointer;
                }
                } 
            }

            &:hover{
                color: #eab129;
                cursor: pointer;
            }
            .jkl{
                color: #999;
                margin-left: 11rem;
                margin-top: -1rem;

                &:hover{
                    color: #eab129;
                    cursor: pointer;
                }
            }
        }  
    }
}